


   <form>
    <div class="form-row">
     
    </div>
   
    <div class="form-group">
      <label for="inputAddress2">Clear Waste</label>
      <input type="text" class="form-control" id="inputAddress2" disabled >
    </div>
    <!-- <button type="submit" class="btn btn-primary" (click)="resolveChange()">Resolve Changes</button> -->
    <button type="submit" class="btn btn-danger" (click)="Stop_()">Stop</button>
    <button type="submit" class="btn btn-success" (click)="Start_()">Start</button>
  </form>
   