<div class="container" style="margin-top: 3rem;">
    <div class="row">
      <div class="col-md">

        <div class="table-responsive">
            <!-- <table class="table table-bordered">
                <tr>
                        
                </tr>
              </table> -->
              <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Item_ID</th>
                        <th scope="col">Data_Type</th>
                        <th scope="col">Value</th>
                        <th scope="col">Time_Stampt</th>
                        <th scope="col">Quality</th>
                        <th scope="col">Update_Count</th>
                      </tr>
                    </thead>
                    <body>
                      <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </body>
                  </table>
          </div>
        
        
      </div>
      <div class="col-md">
            <div class="card">
                    <div class="card-body">
                     Process ID  <h5 class="card-title">2335f-324</h5>
                    </div>
            </div>
            <div class="card" style="width: 100%;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Process progress</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Cleaning plot (on process)</h6>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a> -->
                            <div class="spinner-grow" role="status">
                                  <span class="sr-only">Loading...</span> 
                                </div>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h2 class="card-title">52%</h2>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Filing (on process)</h6> -->
                           
                          </div>
                    </div>
                </div>
                   
            </div>
      </div>
      
    </div>
    <div class="row" style="margin-top: 3rem;">
            <div class="col-md-12">
            <div class="card text-center">
                    <div class="card-header">
                      Featured
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <h5 class="card-title">Power  Management</h5>
                                <h6>45 %</h6>
                                
                            </div>
                            <div class="col-sm">
                                <h5 class="card-title">Waste Management</h5>
                                <h6>2 Cups</h6>
                                
                                
                            </div>
                        </div>
                    
                    </div>
                    <div class="card-footer text-muted">
                     Application Version 1.0
                    </div>
        </div>
    </div>
    </div>
    

  </div>
