

<p><b>Values Of Attribute</b></p>
<table>
<tr><td><table border="1" width="130">
<tr><td>List</tr></td>
<tr><td height="30"></td></tr>
<tr><td height="30"></td></tr>
<tr><td height="30" ></td></tr>
<tr><td height="30"></td></tr>
<tr><td height="30"></td></tr>
<tr><td height="30"></td></tr>
<tr><tdheight="30"></td></tr>
</table>
</td>

  <td><table border="1" width="70"><tr>
<td >Value</tr></td>
<tr><tdheight="30"></td></tr>
<tr><td height="30"></td></tr>
<tr><td height="30"></td></tr>
<tr><td height="30"></td></tr>
<tr><td height="30"></td></tr>
<tr><td height="30"></td></tr>
<tr><td height="30"></td></tr></table>
</td>

<td><table border="1" width="130"><tr><td height="60">Completion Status<tr height="180"><td><b><p align="center"><font size="100">99%</p></b></font></td></tr><table border="1" width="30"></table>
</td>
</tr>
</table>
<table>
<tr>
<td><table border="1" width="205"><tr><td>Power Consumption</td></tr></table>
</td>
<td><table border="1" width="130"><tr><td>WasteCreatedLog</td></tr></table>
</td>
</tr>
</table>
                            

  <!-- Error: Template parse errors:
Unexpected closing tag "td". It may happen when the tag has already been closed by another tag. For more info see https://www.w3.org/TR/html5/syntax.html#closing-elements-that-have-implied-end-tags ("
<table>

<tr>

<td><table border="1" width="130"><tr><td>List</td></tr><tr><td height="30"></tr>[ERROR ->]</td><tr><td height="30"></tr></td><tr><td height="30" ></tr></td><tr><td height="30"></tr></td><tr><"): ng:///AppModule/AppComponent.html@5:81
Unexpected closing tag "td". It may happen when the tag has already been closed by another tag. For more info see https://www.w3.org/TR/html5/syntax.html#closing-elements-that-have-implied-end-tags ("border="1" width="130"><tr><td>List</td></tr><tr><td height="30"></tr></td><tr><td height="30"></tr>[ERROR ->]</td><tr><td height="30" ></tr></td><tr><td height="30"></tr></td><tr><td height="30"></tr></td><tr><"): ng:///AppModule/AppComponent.html@5:111
Unexpected closing tag "td". -->

<router-outlet></router-outlet>